/*  Para organização    */

/*  Containers do menu "Cardapio"
    (é aquele que aparece no index)
*/
.container-cardapio-geral {
  display: block;
  margin-top: 20px;
}

.container-cardapio-solo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  align-items: flex-start;

  margin-top: 20px;
  padding: 0px 50px 50px 50px;

  gap: 50px;
}

.container-item:hover .container-cardapio-titulo {
  background-color: #d70c13;
  transition: background-color 1s ease;
}

.container-item {
  position: relative;

  display: flex;
  flex: 1 1 25%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-width: 300px;
  max-width: 100%;
  min-height: 300px;
  padding: 20px 20px 20px 20px;

  transition: all 0.3s ease;
}

/*  Apenas um teste 
  #container-item-curso {
    position: relative;
  
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start !important;
  }
    */

#container-item-borda {
  border: 1px solid #ff7b00;
  border-radius: 6px;
  transition: all 0.3s ease;
}

#container-item-borda:hover {
  border: 2px solid hsl(358, 89%, 45%);
  border-radius: 18px;
  transition: all 0.1s ease;
}

.container-anim-flex:hover {
  flex: 1 1 32%;
  transition: all 0.1s ease;
}

.container-cardapio-titulo {
  font-family: 'ABeeZee';
  font-size: 24px;
  text-align: center;
  font-weight: bolder;
  color: white;
  transition: color 0.3s ease;
  background-color: #ff7b00;
  border-radius: 10px;

  width: 100%;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
}

.container-cardapio-subtitulo {
  font-family: 'ABeeZee';
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
  color: white;
  transition: color 0.3s ease;
  background-color: #ff7b00;
  border-radius: 10px;

  width: 40%;
  padding: 14px 14px 14px 14px;
  margin-top: 20px;
}

/*  Podemos ajustar o max-width para se adaptar a telas maiores, no pc  */
.container-texto-menu {
  text-align: justify;
  max-width: 275px;
  min-width: 275px;
  height: 75%;
}

.container-texto {
  text-align: justify;
  max-width: 650px;
  min-width: 275px;
  height: 75%;

  padding: 10px;
}

.container-imagem {
  margin-bottom: 30px;
  border-radius: 0px !important;
}

/*  Link clicavel (para o cardapio) */
.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}