/* Estilo do rodapé simples */
/*
.footer {
    background-color: #ff7f00;
    color: white;
    padding: 40px 20px;
    text-align: center;
}


  <footer class="footer">
    <div class="container">
      <div class="social-icons">
        <.b href="#" class="icon facebook"><i class="fab fa-facebook-f"></i></.b>
        <.b href="#" class="icon instagram"><i class="fab fa-instagram"></i></.b>
        <.b href="#" class="icon tiktok"><i class="fab fa-tiktok"></i></.b>
      </div>
      <p>Desenvolvido por Academia Carolina</p>
    </div>
  </footer>
*/

#copyright {
  z-index: 999;
  font-weight: bolder;
}

/* Ícones de redes sociais no footer 
  Acredito que não esteja sendo usado */
.social-icons .b {
  color: white;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s;
}

.social-icons .b:hover {
  transform: scale(1.2);
}



/* Estilos do rodapé mais robusto */
/*
display: inline;
position: fixed;

*/
.footer {
  background-color: #ff7f00;
  color: white;
  padding: 40px 20px 40px 20px;
  text-align: center;
  width: 100%;
}

/* Essa classe é um container */
.footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 15px;
  flex-direction: column;
}

.footer .icons .b {
  color: white;
  font-size: 24px;
  transition: transform 0.3s;
}

.footer .icons .b:hover {
  transform: scale(1.2);
  color: #000;
}


span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}


.fa-brands {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  line-height: 55px;
}

.b span,
.b .footer-text {
  color: #e1306c;
  border-color: #e1306c;
}

/* Codigo antigo que estiliza cada um com sua cor respectiva
  (icone e texto)
.b:nth-child(1) span,
.b:nth-child(1) .footer-text {
  color: #ff0050;
  border-color: #ff0050;
}

.b:nth-child(2) span,
.b:nth-child(2) .footer-text {
  color: #e1306c;
  border-color: #e1306c;
}

.b:nth-child(3) span,
.b:nth-child(3) .footer-text {
  color: #1dcaff;
  border-color: #1dcaff;
}
*/


.b:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.b:hover span:nth-child(1) {
  opacity: 0.2;
}

.b:hover span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.b:hover span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.b:hover span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.b:hover span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.b:hover span {
  box-shadow: -1px 1px 3px #e1306c;
}

/* Codigo antigo que estiliza cada um com sua cor respectiva
  (sombra)
.b:hover:nth-child(1) span {
  box-shadow: -1px 1px 3px #ff0050;
}

.b:hover:nth-child(2) span {
  box-shadow: -1px 1px 3px #e1306c;
}

.b:hover:nth-child(3) span {
  box-shadow: -1px 1px 3px #1dcaff;
}
*/

.b:hover .footer-text {
  bottom: -35px;
  opacity: 1;
}


/*  Esse aqui é usado como classe geral pelo footer?  */
.b {
  width: 75px;
  height: 75px;
  display: inline-block;
  margin: 0 50px;
}

/*  Classe ainda não documentada, mas usada */
.layer {

  align-items: center;
  text-justify: auto;
  justify-content: center;
  flex-direction: column;
  width: 75px;
  height: 75px;
  transition: transform 0.3s;
}


/*  Classe usada para animação do texto do footer  */
.footer-text {
  position: absolute;
  font-weight: 500;

  top: 30px;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.footer-text {
  opacity: 0;
  
}

.testeanim {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 111;

  display: none;
}

#texto-rodape {
  display: flex;
  font-size: 1.25vw !important;
  flex-direction: column;
  align-items: flex-start;
}