@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

/*
  Existem algumas redundancias aqui, por exemplo, dois footers identicos
  e 3 animações de fade in (quase) identicas, também

  Todo código foi levado para um CSS respectivo, para facilitar a manutenção
*/
.teste {
  background-color: #000000 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  É só um teste, por enquanto
      Mas isso aqui faz tudo aparecer com um fadein, TUDO, e não apenas algumas coisas
      É bem interessante, mas deve ser usado com cuidado:
  animation: fadeIn 2s ease;
  */
}

/* Estilo do corpo */
body {
  margin: 0;
  font-family: 'Comfortaa';
  background-color: rgb(252, 248, 246);
  color: rgb(49, 19, 0);
}


h1,
h2,
h3 {
  color: #ff7f00;
}




/*  Seções com animações
    Aqui, ele está chamando a animação de FadeIn quando abre a pagina */
section {
  padding: 40px 0;
  animation: fadeIn 1s ease;
}


/* Título da seção */
.section-title {
  font-family: 'ABeeZee';
  font-size: 24px;
  text-align: center;
  font-weight: bolder;
  color: #d90d13;

  animation: fadeIn 2s ease;
}

/* Seção 'Sobre' */
.about-section {

  display: flex;
  align-items: flex-start;
  line-height: 1.4;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  
  width: 85vw;
  gap: 30px;
  margin: auto;

  animation: fadeInUp 2s ease;
}

.about-section img {
  max-width: 50vw;
  max-height: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 10px #ff7f0046;
}

#tooBig {
  max-width: 40vw !important;
  max-height: 100% !important;
  border-radius: 15px;
}

.about-section .texto {
  position: sticky;
  top: 0;
  font-size: 1.4vw;
  text-align: justify;
  text-indent: 50px;

  padding: 30px 15px;
}



/*  Muita coisa nas animações do footer usam  o "a" 
    Mas é um problema caso precisar usar links... 

    (26/05/25) Estou transferindo a tag "a" para a class "b"  */
.b {
  color: #fff;
  margin: 0 35px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

/*  FAQ 
Nada aqui no FAQ, por enquanto, está utilizado */
.faq details {
  margin-bottom: 10px;
}

.faq summary {
  font-weight: bold;
  cursor: pointer;
}

.faq p {
  margin: 5px 0 0 15px;
}

/*  Botões  */
.btn {
  background-color: #ff7b00;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.btn.animate-btn {
  animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
  background-color: #d70c13;
}


/*  Estilo das imagens
    Tudo quanto é imagem tem animação */
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: all 1s ease;
}

img:hover {
  transform: scale(1.03);
  transition: all 0.15s ease;
}

iframe {
  width: 55vw;
  height: 30vw;
}

#qr:hover {
  cursor: none;
  image-rendering: pixelated;
}

.so-mobile {
  display: none;
}

/*  Uma barra divisoria, para o cardapio  
        Precisa de ajustes na centralização */
.divisor {
  display: flex;

  border: 1px dashed #d70c13;

  max-height: 100%;
  min-height: 40em;
}



/* Animações */
@keyframes animate-outline {
  from {
    outline: 0px solid #532666;
  }

  to {
    outline: 15px solid #4f9bf900;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*  Animações específicas 
    Acredito que essa animação esteja duplicada, mas vou manter aqui por segurança */
/*
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
*/